.userinfo {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.user {
    display: flex;
    align-items: center;
    gap: 20px; /* Gap between the avatar and name */
}

.icons {
    display: flex;
    gap: 20px; /* Gap between icons */
    margin-left: 20px; /* Add a gap between the user name and icons */
}

.user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.icons img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

